/* .custom-button {
  border-radius: 1rem;
  background-color: #f35c7a;
  color: white;
  border: 1px solid #f35c7a;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  transition: background-color 0.3s, color 0.3s;
}

.custom-button:hover {
  background: transparent;
  color: #f35c7a;
  border: 1px solid #f35c7a;
} */
